body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #FFF;
	background-color: #000;
	position: relative;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, span {
	margin: 0;
}
img{
	width: 100%;
	height: 100%;
}
.section{
	height: 100vh;
}
.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}
.head{
	display: flex;
	flex-direction: column;
	padding-top: 75px;
}
.title{
	font-size: 30px;
	text-align: center;
	margin-bottom: 25px;
}
.header{
	width: 100%;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
}
.fixed {
	position: fixed;
	height: auto;
	background-color: rgba(0,0,0,0.7);
}
.header__inner {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ffffff0f;
}
.header__logo{
	width: 100px;
	height: auto;
}
.nav {
	display: flex;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}
.nav__link {
	margin-left: 50px;
	color: #FFF;
	text-decoration: none;
}
.nav__link:first-child{
	margin: 0;
}
.burger {
	display: none;
	border: 0;
	background-color: transparent;	
	outline: 0;
	cursor: pointer;
}
.burger__item {
	display: block;
	width: 20px;
	height: 2px;
	background-color: #fff;
	position: relative;
}
.burger__item:before,
.burger__item:after{
	content: "";
	width: 100%;
	height: 100%;

	background-color: #fff;

	position: absolute;
	left: 0;
	z-index: 1;
}
.burger__item:before{
	top: 5px;
}
.burger__item:after{
	bottom: 5px;
}
.intro__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	padding-top: 50px;
}
.intro__img{
	width: 500px;
	height: 500px;
}

.intro__title {
	width: 450px;
	font-size: 40px;
	font-weight: 500;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.container.about__inner{
	max-width: none;
	width: 100%;
}
.about__head{
	height: 40vh;
}
.about__footer{
	height: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.about__inner {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.about__item {
	width: 25%;
	height: 50vh;
	position: relative;
	overflow: hidden;
	z-index: 1;
	border: 1px solid #000;
}
.about__content{
	width: 100%;
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(255, 255, 255, 0);
	color: rgba(0,0,0,0);
	z-index: 2;
}
.about__content:hover{
	background-color: rgba(255, 255, 255, 0.5);
	color: rgba(0,0,0,1);
}
.about__description{
	width: 200px;
	text-align: center;
	font-weight: 500;
}
.work__item{
	height: 250px;
	display: flex;
	align-items: center;
}
.work__item:nth-child(even){
	flex-direction: row-reverse;

}
.work__img{
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
.work__content{
	width: 500px;
}
.how__inner{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.how__item{
	width: 200px;
	text-align: center;
	margin-top: 25px;
}
.how__img{
	display: inline-block;
	width: 100px;
	height: 100px;
}
.how__title{
	width: 200px;
}
.contact__inner{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 50px;
}
.contact__item{
	width: 150px ;
	text-align: center;	
	margin: 25px 0;
}
.contact__img{
	display: inline-block;	
	width: 30px;
	height: 30px;
}
.footer{
	position: absolute;
	bottom: 0;	
	z-index: 1000;	
	left: 0;	
	height: 50px;	
	width: 100%;	
}
.footer__inner {
	height: 50px;
	display: flex;
	justify-content: center;	
	align-items: center;	
	border-top: 1px solid #ffffff0f;
	text-align: center;	
	
}

@media (max-width: 1200px) {
	.container{
		max-width: none;
		width: 960px;
	}
}
@media (max-width: 992px) {
	.container{
		width: 720px;
	}
	.intro__img{
		width: 400px;
		height: 400px;
	}
	.intro__title{
		width: 300px;
		height: 300px;
		font-size: 30px;
	}
	.intro__inner{
		height: auto;
	}
	.section{
		height: auto;
	}
	.about__head{
		height: auto;
	}
	.about__footer{
		height: auto;
	}
	.about__item{
		height: 300px;
	}
	.work__content{
		width: 450px;
	}
	.contact{
		padding-bottom: 75px;
	}
}
@media (max-width: 768px) {
	.how__item{
		width: 50%;
	}
	.how__title{
		margin: 0 auto;
	}
	.container{
		width: 540px;
	}
	.container.about__inner{
		width: 540px;
	}
	.intro__inner{
		flex-direction: column;
	}
	.intro__img{
		width: 500px;
		height: auto;
	}
	.intro__title{
		width: 450px;
		height: auto;
	}
	.header__inner{
		border-bottom: rgba(0,0,0,0.75);
	}
	.nav {
		display: none;
		width: 100%;
		flex-direction: column;
		
		background-color: rgba(0,0,0,0.75);
		text-align: center;

		position: absolute;
		top: 50px;
		right: 0;
	}
	.nav.show{
		display: flex;
	}
	.nav__link{
		margin: 0;
		padding: 10px 0;
	}
	.burger{
		display: block;
	}
	.container.about{
		display: block;
	}
	.about__item{
		width: 50%;
	}
	.work__inner{
		display: flex;
		flex-wrap: wrap;
	}
	.work__item{
		width: 50%;
		height: auto;
		display: inline-block;
	}
	.work__content p{
		display: none;
	}
	.contact__inner{
		flex-direction: column;
	}
	.contact__item{
		margin: 15px 10px;
		width: auto;
	}
	.contact__col{
		display: flex;
	}
	.head{
		padding-top: 50px;
	}
	.title{
		margin: 0;
	}
	.contact__inner{
		margin: 0;
	}
}
@media (max-width: 576px) {
	body{
		font-size: 10px;
	}
	.how__item{
		width: 100%;
	}
	.container{
		width: 90%;
	}
	.container.about__inner{
		width: 90%;
	}
	.intro__img{
		width: 90%;
		margin: 0 auto;
	}
	.intro__title{
		width: 90%;
		margin: 0 auto;
		font-size: 25px;
	}
	.about__item{
		width: 100%;
	}
	.work__item{
		width: 100%;
	}
	.contact__map{
		display: none;
	}
	.contact__col{
		max-width: 320px;
	}
}


