.box__dropdown{
	display: none;
}
.box__dropdown--show{
	display: block;
}
.green{
	background-color: green;
}
.zakaz{
	display: none;
}
.zakaz--show{
	display: block;
}
.form__popap{
	width: 500px;
    margin: 0 auto;
    background: #fff;
    
    padding: 50px;
}
.mfp-close-btn-in .mfp-close {
    display: none;
}