@font-face {
	font-family: 'Rubik';
	src: url('../fonts/Rubik-Medium.woff2') format('woff2'),
	url('../fonts/Rubik-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Rubik';
	src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
	url('../fonts/Rubik-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
:root {
	--black: #222528;
	--white: #FFFFFF;
	--pink: #DB4E66;
	--pink-light: #D7B9AC;
	--orange: #F2B236;
	--blue: #90C1BF;
	--blue-light: #E8ECEB;
	--brown: #884900;
	--grey: #A5AAAF;
	--grey-dark: #5B636B;
	--grey-light: #CED0D2;
	--gradient: linear-gradient(92deg, #F2B236 32%, #FF9C1A 64%);;
}
*, *::before, *::after {
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
	font-family: 'Rubik';
	font-size: 16px;
	line-height: 100%;
	color: #222528;
	background: #FAFAF9;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}
ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}
a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}
button {
	display: inline-block;
	font: inherit;
	color: inherit;
	cursor: pointer;
}
input {
	font: inherit;
	color: inherit;
}
img {
	display: block;
	width: 100%;
	height: auto;
}
p {
	padding: 0;
	margin: 0;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.main {
	flex-grow: 1;
}
.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}