/*main*/
body._lock {
	overflow: hidden;
}
.page-left {
	flex-shrink: 0;
	width: 100%;
	max-width: 266px;
}
.page-right {
	width: 100%;
	max-width: 600px;
}
.page-info {
	font-weight: 500;
	font-size: 18px;
	color: var(--brown);
}
.logo {
	display: block;
}
.search {
	position: relative;
}
.search__input {
	width: 100%;
	height: 45px;
	padding: 0 60px 0 20px;
	background: #FFFFFF;
	border: none;
	border-radius: 26px;
}
.search__input::placeholder {
	color: var(--grey);
}
.search__btn {
	position: absolute;
	top: 50%;
	right: 16px;
	padding: 0;
	background: transparent;
	border: none;
	border-radius: 0;
	transform: translateY(-50%);
}
.search__icon {
	width: 24px;
	height: 24px;
	fill: var(--grey);
}
.social__list {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.social__item {
	flex-shrink: 0;
	padding: 5px;
	background: var(--blue);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.17);
	border-radius: 12px;
}
.social__link {
	display: flex;
}
.social__icon {
	width: 30px;
	height: 30px;
	fill: #FFFFFF;
}
.page-btn {
	width: 100%;
	max-width: 300px;
	height: 50px;
	padding: 0;
	font-weight: 500;
	font-size: 16px;
	text-transform: uppercase;
	color: #FFFFFF;
	border: none;
	border-radius: 14px;
	transition: all .3s ease;
}
.page-btn._pink {
	background: #DB4E66;
}
.page-btn._pink:hover, .page-btn._pink:focus {
	color: #420000;
	background: #B0354A;
}
.page-btn._pink:disabled {
	background: #E8B0B9;
}
.page-btn._yellow {
	background: #F2B236;
}
.page-btn._yellow:hover, .page-btn._yellow:focus {
	color: #865800;
	background: #FBB835;
}
.page-btn._yellow:disabled {
	background: #FFDD9B;
}
/*header*/
.header__main {
	padding: 30px 0;
	background: var(--gradient);
}
.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__info-link {
	margin: 0 16px;
	white-space: nowrap;
}
.header__search {
	width: 100%;
	max-width: 300px;
}
.header__user-list {
	display: flex;
	align-items: center;
}
.header__user-item {
	position: relative;
}
.header__user-item {
	margin-left: 16px;
}
.header__user-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 45px;
	background: var(--white);
	border-radius: 12px;
}
.header__user-icon {
	width: 35px;
	height: 35px;
	fill: var(--orange);
}
.header__user-mark {
	position: absolute;
	top: 5px;
	right: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15px;
	height: 15px;
	font-weight: 500;
	font-size: 10px;
	color: var(--white);
	background: var(--pink);
	border-radius: 50%;
}
.header__bottom {
	background: #FAFAF9;
	box-shadow: 0px 5px 13px #EBE7E0;
}
.header__menu-nav {
	margin: 0 0 0 auto;
}
.header__menu-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
body._pc .header__menu-list {
	margin: 0 -15px;
}
body._touch .header__menu-list {
	margin: 0 0 0 -15px;
}
.header__menu-item {
	position: relative;
}
body._touch .header__menu-item {
	display: flex;
	align-items: center;
}
.header__menu-link {
	padding: 15px;
	transition: all .3s ease;
}
.header__menu-item:hover .header__menu-link{
	color: var(--orange);
}
.header__menu-arrow {
	display: none;
	padding: 0;
	background: transparent;
	border: none;
	border-radius: 0;
	transition: all .3s ease;
}
.header__menu-arrow._active {
	transform: rotate(180deg)
}
body._touch .header__menu-arrow {
	display: block;
}
.header__menu-icon {
	width: 30px;
	height: 30px;
	fill: var(--black);
}
.header__submenu-overlay {
	display: none;
}
body._touch .header__submenu-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
body._touch .header__submenu-overlay._active {
	display: block;
}
.header__submenu-list {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background: #FAFAF9;
	overflow: hidden;
	transition: all .3s ease;
}
body._pc .header__submenu-list {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
body._touch .header__submenu-list {
	height: 0;
}
body._pc .header__menu-item:hover .header__submenu-list {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}
.header__submenu-link {
	padding: 10px 15px;
	transition: all .3s ease;
}
.header__submenu-link:hover {
	color: var(--orange);
}
/*footer*/
.footer__main {
	padding: 30px 0;
	background: var(--gradient);
}
.footer__wrapper {
	display: flex;
	justify-content: space-between;
}
.footer__left {
	display: flex;
	flex-direction: column;
}
.footer__logo {
	margin-bottom: 16px;
}
.footer__info-item + .footer__info-item {
	margin-top: 8px;
}
.footer__search {
	margin: auto 0 0 0;
}
.footer__right {
	display: flex;
	justify-content: space-between;
}
.footer__right-box {
	display: flex;
	flex-direction: column;
}
.footer__menu-item + .footer__menu-item {
	margin-top: 16px;
}
.footer__menu-link {
	font-size: 16px;
	line-height: 160%;
	color: #FAFAF9;
}
.footer__social-list {
	margin: auto 0 0 -10px;
}
.footer__copyright {
	padding: 15px 0;
	background: var(--black);
}
.footer__copyright-list {
	display: flex;
	align-items: center;
}
.footer__copyright-item + .footer__copyright-item {
	margin-left: 50px;
}
.footer__copyright-link {
	color: var(--grey-light);
}
.footer__copyright-text {
	color: var(--grey);
}
.header__menu-btn {
	display: none;
}
@media (max-width: 1020px) {
	.header__info-link {
		margin: 0 12px;
	}
	.header__user-item {
		margin-left: 12px;
	}
}
@media (max-width: 992px) {
	.page-info {
		font-size: 16px;
	}
	.header__main {
		padding: 20px 0;
	}
	.header__menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		padding: 90px 15px 40px;
		background: rgba(34, 37, 40, 0.7);
		backdrop-filter: blur(30px);
		overflow: auto;
		transform: translateX(200%);
		transition: all .3s ease;
	}
	.header__menu._active {
		transform: translateX(0);
	}
	.header__menu-nav {
		margin: 0;
		width: 100%;
		max-width: 100%;
	}
	.header__menu-list {
		flex-direction: column;
		align-items: stretch;
		justify-content: flex-start;
		margin: 0;
	}
	body._pc .header__menu-list,
	body._touch .header__menu-list {
		margin: 0;
	}
	.header__menu-item {
		flex-direction: column;
		padding: 10px 0;
		border-bottom: 1px solid #A5AAAF;
	}
	.header__menu-item:first-child {
		border-top: 1px solid #A5AAAF;
	}
	.header__menu-link {
		width: 100%;
		padding: 10px 0;
		font-weight: 500;
		font-size: 20px;
		color: #FAFAF9;
	}
	.header__menu-icon {
		fill: #FAFAF9;
	}
	.header__menu-arrow {
		position: absolute;
		top: 5px;
		right: 0;
		display: flex;
		width: 46px;
		height: 46px;
	}
	.header__submenu-list {
		position: static;
		top: auto;
		left: auto;
		height: 0;
		background: transparent;
		opacity: 1;
		visibility: visible;
	}
	.header__submenu-link {
		width: 100%;
		padding: 10px 20px;
		font-weight: 500;
		font-size: 20px;
		color: #FAFAF9;
	}
	.header__logo {
		order: 1;
		width: auto;
	}
	.header__logo-link, .footer__logo-link {
		height: 50px;
	}
	.header__logo-img, .footer__logo-img {
		width: auto;
		height: 50px;
	}
	.header__user-link {
		width: 50px;
		height: 50px;
	}
	.header__menu-btn {
		position: relative;
		z-index: 100;
		order: 2;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		padding: 7px;
		background: #FFFFFF;
		border: none;
		border-radius: 12px;
	}
	.header__menu-burger {
		width: 100%;
		height: 4px;
		background: #F2B236;
		border-radius: 2px;
		transition: all .3s ease;
	}
	.header__menu-burger::before,
	.header__menu-burger::after {
		content: '';
		position: absolute;
		width: 36px;
		height: 4px;
		background: #F2B236;
		border-radius: 2px;
		transition: all .3s ease;
	}
	.header__menu-burger::before {
		top: 12px;
		left: 7px;
	}
	.header__menu-burger::after {
		right: 7px;
		bottom: 12px;
	}
	.header__menu-btn._active .header__menu-burger {
		width: 0;
	}
	.header__menu-btn._active .header__menu-burger::before {
		width: 0;
	}
	.header__menu-btn._active .header__menu-burger::after {
		width: 0;
	}
	.header__menu-close {
		width: 0;
		height: 4px;
		background: #F2B236;
		border-radius: 2px;
		transition: all .3s ease;
	}
	.header__menu-close::before,
	.header__menu-close::after {
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		width: 0;
		height: 4px;
		background: #F2B236;
		border-radius: 2px;
		transition: all .3s ease;
	}
	.header__menu-close::before {
		transform: translateY(-50%) translateX(-50%) rotate(225deg);
	}
	.header__menu-close::after {
		transform: translateY(-50%) translateX(-50%) rotate(-225deg);
	}
	.header__menu-btn._active .header__menu-close::before,
	.header__menu-btn._active .header__menu-close::after {
		width: 36px;
	}
	.header__user-item {
		margin: 0;
	}
	.header__user-item + .header__user-item {
		margin-left: 12px;
	}
	.header__bottom-wrapper {
		display: flex;
		align-items: center;
		height: 46px;
	}
	.header__social-list {
		max-width: 200px;
		padding: 36px 0;
	}
	body._touch .header__submenu-overlay._active {
		display: none;
	}
	.footer__main {
		padding: 20px 0;
	}
	.footer__wrapper {
		flex-direction: column;
	}
	.footer__left {
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		max-width: 100%;
		margin-bottom: 24px;
	}
	.footer__logo {
		margin: 0;
	}
	.footer__info-list {
		text-align: right;
	}
	.footer__info-item + .footer__info-item {
		margin-top: 4px;
	}
	.footer__search {
		display: none;
	}
	.footer__right {
		width: 100%;
		max-width: 100%;
	}
	.footer__copyright-list {
		justify-content: space-between;
	}
	.footer__copyright-item + .footer__copyright-item {
		margin-left: 0;
	}
	.footer__copyright-text {
		display: none;
	}
}
@media (max-width: 576px) {
	.header__menu {
		padding: 20px 15px;
	}
	.header__user-list {
		margin-bottom: 20px;
	}
	.header__bottom-wrapper {
		justify-content: center;
	}
	.footer__left {
		flex-direction: column;
		align-items: center;
		margin-bottom: 16px;
	}
	.footer__logo {
		margin-bottom: 16px;
	}
	.footer__info-list {
		text-align: center;
	}
	.footer__menu-nav {
		display: none;
	}
	.footer__right-box {
		margin: 0 auto;
	}
	.footer__social-list {
		margin: 0;
		width: 200px;
	}
	.footer__copyright-list {
		flex-direction: column;
	}
	.footer__copyright-item + .footer__copyright-item {
		margin-top: 12px;
	}
}
/*hero*/
.hero {
	background-image: url('../images/hero-bg.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}
.hero__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: calc(100vh - 182px);
	padding: 40px 0;
}
.hero__content {
	max-width: 900px;
	margin: 0 auto 80px;
	color: #FAFAF9;
	text-align: center;
}
.hero__title {
	margin-bottom: 16px;
	font-weight: 500;
	font-size: 50px;
	line-height: 120%;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.48);
}
.hero__subtitle {
	margin-bottom: 40px;
	line-height: 160%;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.44);
}
.hero__btn {

}
.hero__social-list {
	width: 100%;
	max-width: 270px;
	margin-left: auto;
}
.hero__social-icon {
	width: 36px;
	height: 36px;
}
@media (max-width: 992px) {
	.hero__wrapper {
		justify-content: center;
		min-height: calc(100vh - 136px);
	}
	.hero__content {
		max-width: 640px;
		margin: 0 0 80px;
		text-align: left;
	}
	.hero__title {
		margin-bottom: 40px;
	}
	.hero__subtitle {
		font-weight: 500;
		font-size: 24px;
		line-height: 120%;
	}
}
@media (max-width: 576px) {
	.hero__wrapper {
		padding: 20px 0;
	}
	.hero__content {
		margin: 0;
	}
	.hero__title {
		margin-bottom: 16px;
		font-size: 32px;
	}
	.hero__subtitle {
		margin-bottom: 32px;
		font-size: 16px;
	}
	.hero__social-list {
		display: none;
	}
}
